// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

// Icons from IcoMoon

.icon-home3:before {
	content: "\e600";
}
.icon-price-tags:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-shield:before {
	content: "\e603";
}
.icon-list:before {
	content: "\e604";
}
.icon-evil2:before {
	content: "\e605";
}
.icon-feed2:before {
	content: "\e606";
}
.icon-github:before {
	content: "\e607";
}
.icon-github2:before {
	content: "\e608";
}
.icon-github3:before {
	content: "\e609";
}
.icon-apple:before {
	content: "\e60a";
}
.icon-finder:before {
	content: "\e60b";
}
.icon-android:before {
	content: "\e60c";
}
.icon-windows:before {
	content: "\e60d";
}
.icon-stackoverflow:before {
	content: "\e60e";
}
.icon-heart:before {
	content: "\e60f";
}
.icon-cloud:before {
	content: "\e610";
}
.icon-star:before {
	content: "\e611";
}
.icon-bulb:before {
	content: "\e612";
}
.icon-pen:before {
	content: "\e613";
}
.icon-paperplane:before {
	content: "\e614";
}
.icon-params:before {
	content: "\e615";
}
.icon-truck:before {
	content: "\e616";
}
.icon-world:before {
	content: "\e617";
}




// Icons name used in NexT

.icon-next-logo:before {
  @extend .icon-bulb:before;
}

.icon-next-home:before {
  @extend .icon-home3:before;
}

.icon-next-categories:before {
  @extend .icon-list:before;
}

.icon-next-archives:before {
  @extend .icon-stackoverflow:before;
}

.icon-next-about:before {
  @extend .icon-github3:before;
}

.icon-next-heart:before {
  @extend .icon-heart:before;
}

.icon-next-feed:before {
  @extend .icon-feed2:before;
}

.icon-next-tags:before {
  @extend .icon-price-tags:before;
}

.icon-next-external-link:before {
  @extend .icon-paperplane:before;
}

.icon-next-search:before {
  @extend .icon-search:before;
}
